<% provide(:about, "active") %>
<% provide(:title, "About") %>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3 class="heading">About BeauSoleil</h3>
      <p>
        Lots of stuff coming soon....
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <img alt="About" src="http://static.wixstatic.com/media/888283_4c45271e1ae94a01a74c0eb64841a89f.jpeg_srz_855_570_85_22_0.50_1.20_0.00_jpeg_srz" class="about-image"/>
    </div>
  </div>
</div>
