<% provide(:home, "active") %>
<% provide(:title, "Home") %>

<div class="jumbotron" "col-md-12">
  <div class="container">
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      Upcoming Shows:
    </div>
    <div class="panel-body">
      Basic panel example
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="col-xs-4">
            <h3><span class="glyphicon glyphicon-time"></span></h3>
            <h4> Thursday 12:30</h4>
          </div>
          <div class="col-xs-4">
            <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
            <h4> Kanyon</h4>
          </div>
          <div class="col-xs-4">
            <h3><span class="glyphicon glyphicon-user"></span></h3>
            <h4>6 People</h4>
          </div>
         </div>
        </div>

    </div>
  </div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-4">
      <h3><span class="glyphicon glyphicon-time"></span></h3>
      <h4> Thursday 12:30</h4>
    </div>
    <div class="col-xs-4">
      <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
      <h4> Kanyon</h4>
    </div>
    <div class="col-xs-4">
      <h3><span class="glyphicon glyphicon-user"></span></h3>
      <h4>6 People</h4>
    </div>
   </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-time"></span></h3>
        <h4> Thursday 12:30</h4>
      </div>
      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
        <h4> Kanyon</h4>
      </div>
      <div class="col-xs-4">
        <h3><span class="glyphicon glyphicon-user"></span></h3>
        <h4>6 People</h4>
      </div>
     </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-xs-4">
          <h3><span class="glyphicon glyphicon-time"></span></h3>
          <h4> Thursday 12:30</h4>
        </div>
        <div class="col-xs-4">
          <h3><span class="glyphicon glyphicon-map-marker icon-white"></span></h3>
          <h4> Kanyon</h4>
        </div>
        <div class="col-xs-4">
          <h3><span class="glyphicon glyphicon-user"></span></h3>
          <h4>6 People</h4>
        </div>
       </div>
      </div>
