// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pages {
  .about-image {
    width: 100%;
    // margin-top: 10px;
  }
}
.nav-image {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 10px;
}
.navbar {
  background-color: black;
  height: 50px;
}
.navbar-text {
  float: right;
  margin: auto;
}
.jumbotron {
  position: relative;
  background: url(../assets/portfolio/StageShotJazzFest2016.jpg) center center;
  width: 100%;
  background-size: cover;
  height: 600px;
  overflow: hidden;
  margin-bottom: 0px;
}
.panel-heading {
  width: 100%;
  background-color: blue;
  overflow: visible;
}
